<div
  class="uploader-root"
  (click)="openFileDialog($event)"
  role="button"
  tabindex="0"
>
  <ngx-file-drop
    style="opacity: 0"
    [dropZoneLabel]="'Arrastrá imágenes o hacé clic para seleccionar'"
    (onFileDrop)="dropped($event)"
    [dropZoneClassName]="'uploader-dropzone'"
  ></ngx-file-drop>

  <input
    #fileInput
    type="file"
    [attr.accept]="accept"
    [attr.capture]="capture || null"
    [attr.multiple]="multiple ? '' : null"
    (change)="onFileSelected($event)"
    hidden
  />
</div>
