<div class="ticket-visualizer-component">
  <div
    *ngIf="ticketId != null && isLoading; else ticketDataTemplate"
    style="
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <ng-template
    #ticketDataTemplate
    style="
      background-color: blue;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <div *ngIf="ticketData; else noDataTemplate" class="ticket-data-container">
      <!-- Título -->
      <div style="width: 100%; text-align: center; margin-bottom: 40px">
        <h4>
          {{ ticketData.issue?.description ?? "Sin problema disponible" }}
        </h4>
      </div>

      <!-- Datos principales -->
      <div class="flex-row-centered-container">
        <div class="grid-container">
          <div class="grid-item header">Creado por</div>
          <div class="grid-item header">Fecha</div>
          <div class="grid-item header">Estado</div>
          <div class="grid-item">{{ ticketData!.createdBy }}</div>
          <div class="grid-item">{{ dateFromTicket }}</div>
          <div
            class="grid-item"
            style="display: flex; align-items: center; justify-content: center"
          >
            <app-pill [ticketState]="currentStatus!" />
          </div>
        </div>
      </div>

      <!-- Imagen -->
      <div class="flex-col-centered-container ticket-image-container">
        <img
          class="ticket-img"
          [src]="
            ticketData && ticketData.image_url
              ? ticketData.image_url
              : 'assets/images/Image_not_available.png'
          "
          alt="Ticket_image"
        />
      </div>

      <app-collapsible title="Descripción" [isOpen]="true">
        <p *ngIf="ticketData.scheduled_resolution_at">
          <strong>
            Resolución programada para:
            {{ ticketData.scheduled_resolution_at | date : "dd/MM/yyyy" }}
          </strong>
          <br />
        </p>
        <p>{{ ticketData.description }}</p>
      </app-collapsible>

      <app-collapsible title="Dirección y cooredenadas" [isOpen]="true">
        <p>{{ address }}</p>
        <p><strong>Longitud: </strong>{{ ticketData.longitude }}</p>
        <p><strong>Latitud: </strong>{{ ticketData.latitude }}</p>
      </app-collapsible>

      <!-- Historial -->
      <app-collapsible title="Historial" [isOpen]="false">
        <ul
          *ngIf="canAdminister"
          style="width: 100%; overflow-y: scroll; max-height: 50vh"
        >
          <li class="history-item" *ngFor="let status of statusHistory">
            <!-- Estado -->
            <app-pill
              class="estado"
              [ticketState]="
                status.ticket_status?.description! === 'V_lido'
                  ? 'Válido'
                  : status.ticket_status?.description!
              "
            ></app-pill>

            <!-- Nombre -->
            <p class="nombre">
              {{
                status.user_account?.first_name! +
                  " " +
                  status.user_account?.last_name!
              }}
            </p>

            <!-- Fecha y hora -->
            <p class="fecha">{{ status.its | date : "dd/MM/yyyy HH:mm" }}</p>

            <!-- Rol -->
            <p class="rol">
              {{ rolesMap.get(status.user_account?.role_id ?? 1) }}
            </p>
          </li>
        </ul>

        <ul
          *ngIf="!canAdminister"
          style="width: 100%; overflow-y: scroll; max-height: 50vh"
        >
          <li class="history-item-reduced" *ngFor="let status of statusHistory">
            <!-- Estado -->
            <app-pill
              class="estado"
              [ticketState]="
                status.ticket_status?.description! === 'V_lido'
                  ? 'Válido'
                  : status.ticket_status?.description!
              "
            ></app-pill>

            <!-- Fecha y hora -->
            <p class="fecha">{{ status.its | date : "dd/MM/yyyy HH:mm" }}</p>
          </li>
        </ul>
      </app-collapsible>

      <!-- Administración -->
      <app-collapsible
        *ngIf="canAdminister"
        title="Administración"
        [isOpen]="true"
      >
        <div class="administration-inputs-container">
          <div class="updatable-field-div">
            <p>Id: {{ this.ticketData.id }}</p>
          </div>

          <div class="updatable-field-div">
            <label for="">Programado para:</label>
            <input
              type="date"
              name="programed-date"
              id="programed-date-input"
              [(ngModel)]="selectedScheduledDate"
            />
          </div>

          <div class="updatable-field-div">
            <label for="">Estado:</label>
            <select
              name="state-select"
              id="state-select"
              [(ngModel)]="selectedStateToUpdate"
            >
              <option *ngFor="let status of statusList" [value]="status">
                {{ status }}
              </option>
            </select>
          </div>

          <div class="updatable-field-div">
            <label for="">Prioridad:</label>
            <select
              name="state-select"
              id="state-select"
              [(ngModel)]="selectedPriorityToUpdate"
            >
              <option *ngFor="let priority of priorityList" [value]="priority">
                {{ priority }}
              </option>
            </select>
          </div>

          <div class="updatable-field-div">
            <label for="">Problemática:</label>
            <select
              name="state-select"
              id="state-select"
              [(ngModel)]="selectedIssue"
            >
              <option
                *ngFor="let issue of issuesList"
                [value]="issue.description"
              >
                {{ issue.description }}
              </option>
            </select>
          </div>

          <div
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
            "
          >
            <button class="update-btn-ticket" (click)="updateTicket()">
              Actualizar
            </button>
          </div>
        </div>
      </app-collapsible>

      <div style="width: 100; height: 2vh"></div>

      <!-- Opciones de subscripción -->
      <div
        *ngIf="canSubscribeToCurrentTicket"
        class="subscribe-button-container"
      >
        <button class="subscribe-btn" (click)="subscribeToTicket()">
          Subscribirse
        </button>
      </div>

      <div
        *ngIf="canUnsubscribeToCurrentTicket"
        class="subscribe-button-container"
      >
        <button class="unsubscriebe-btn" (click)="unSubscribeToTicket()">
          Desubscribirse
        </button>
      </div>

      <div *ngIf="isAuthorOfCurrentTicket" class="subscribe-button-container">
        <h6>Eres el autor de este reclamo.</h6>
      </div>

      <div style="width: 100; height: 10vh"></div>
    </div>

    <ng-template #noDataTemplate>
      <div
        style="
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          height: 100%;
        "
      >
        <img src="assets/images/urbancheck.png" alt="Logo urbancheck" />
        <p>Seleccione un reclamo para ver sus datos...</p>
      </div>
    </ng-template>
  </ng-template>
</div>
