.ticket-visualizer-component {
  --bg-color: #6e7f8bec;
  --extra-data-font-color: #363a3d;
  --color: white;
  --max-width: 90%;
  /* Definimos el color azul */
}

* {
  color: var(--color);
}

.ticket-visualizer-component {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-y: scroll;
}

.ticket-data-container {
  width: var(--max-width);
}

.ticket-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticket-img {
  border-radius: 5px;
  margin: 5px;
  max-width: 90%;
  /* Ancho del 95% del contenedor */
  /* aspect-ratio: 1 / 1; */
  /* Relación de aspecto cuadrada */
  max-height: 50%;
  object-fit: cover;
  /* Ajustar la imagen si es necesario */
}

.grid-container {
  display: grid;
  /* Configuramos el contenedor como grid */
  grid-template-columns: repeat(3, 1fr);
  /* Tres columnas de igual tamaño */
  /* gap: 6px; */
  /* Espacio entre las celdas */
  row-gap: 4px;
  border-collapse: collapse;
  /* Opcional, para que las celdas no tengan espacios entre ellas */
  width: 100%;
  /* Ajusta al ancho del contenedor o el espacio disponible */
}

.grid-item {
  padding: 2px 4px 0 4px;
  /* Espacio interno dentro de las celdas */
  border-bottom: 1px solid white;
  color: var(--color);
  /* Estilo de borde opcional */
  /* margin-top: 2px; */
  text-align: center;
  text-justify: distribute;
  font-size: 12pt;
}

.header {
  font-weight: bold;
  /* Negrita para las cabeceras */
  text-align: center;
  /* Alinea el texto al centro */
}


#description_container {
  height: fit-content;
}

#description_container textarea {

  padding: 10px;
  /* Añadir relleno */
  font-size: 16px;
  /* Cambiar tamaño de fuente */
  width: 100%;
  /* Hacer que el textarea ocupe todo el ancho */
  height: 45%;

}


#address_container {
  height: 12vh;
}

#address_container textarea {

  padding: 10px;
  /* Añadir relleno */
  font-size: 16px;
  /* Cambiar tamaño de fuente */
  width: 100%;
  /* Hacer que el textarea ocupe todo el ancho */
  height: 70%;
}

.title-section {
  margin-top: 2vh;
}

textarea {

  font-size: 10pt;
  text-align: justify;
  background-color: #6e7f8bec;
  color: white;
  border: 1px solid white;
}

#view-modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.administration-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: var(--bg-color);
}

#programed-date-input {
  background-color: var(--bg-color);
  color: var(--color);
  border: 1px solid white;
  border-radius: 5px;
  width: 30%;
  padding: 5px;
}

#state-select {
  background-color: var(--bg-color);
  color: var(--color);
  border: 1px solid white;
  border-radius: 5px;
  width: 30%;
  padding: 5px;
}

.update-btn-ticket {
  background-color: var(--bg-color); /* Verde */
  color: var(--color);
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 30%;
}

.update-btn-ticket:hover {
  background-color: var(--color); /* Verde más oscuro al pasar el ratón */
  color: var(--bg-color);
}

.updatable-field-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

.updatable-field-div label{
  width: 25%;
}

.updatable-field-div select{
  width: 60% !important;
}

.history-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* dos columnas */
  grid-template-rows: auto auto;
  /* dos filas */
  gap: 0.5rem 1rem;
  /* espacio entre filas y columnas */
  padding: 0.75rem;
  border-bottom: 1px solid #444;
  color: white;
  /* opcional */
}

/* Ubicaciones */
.history-item .estado {
  grid-column: 1;
  /* primera columna */
  grid-row: 1;
  /* primera fila */
}

.history-item .nombre {
  grid-column: 2;
  /* segunda columna */
  grid-row: 1;
  /* primera fila */
  align-self: center;
}

.history-item .fecha {
  grid-column: 1;
  /* primera columna */
  grid-row: 2;
  /* segunda fila */
}

.history-item .rol {
  grid-column: 2;
  /* segunda columna */
  grid-row: 2;
  /* segunda fila */
  align-self: center;
}


.history-item-reduced {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: space-around;
  gap: 0.25rem;
  padding: 0.5rem;
  border-bottom: 1px solid #444;
  color: white;
  /* opcional */
}

.subscribe-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}


.subscribe-button-container button {
  width: 40%;
  height: 4vh;
  font-size: 14pt;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--bg-color);
}

.subscribe-button-container .subscribe-btn {
  --green-sub-btn: #4edf55;
  color: var(--green-sub-btn);
  border: 1px solid var(--green-sub-btn);
}

.subscribe-button-container .unsub-btn {
  --red-sub-btn: #9c0a00;
  color: var(--red-sub-btn);
  border: 1px solid var(--red-sub-btn);
}

.citizen-extra-info {
  margin-top: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.citizen-extra-info p {
  margin: 0;
  padding: 0;
  color: var(--extra-data-font-color);
  font-size: 11pt;
}


