<div class="ticket-visualizer-component">


  <div *ngIf="isLoading; else ticketDataTemplate" style="width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center;">

    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

  </div>


<ng-template #ticketDataTemplate
style="background-color: blue; width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center;"
>

  <div
  *ngIf="ticketData; else noDataTemplate"
  class="ticket-data-container"
  >

      <div class="flex-row-centered-container">
              <div class="grid-container">
                <div class="grid-item header">Creado por</div>
                <div class="grid-item header">Fecha</div>
                <div class="grid-item header">Estado</div>
                <div class="grid-item">{{ ticketData!.createdBy }}</div>
                <div class="grid-item">{{ dateFromTicket }}</div>
                <div class="grid-item" style="display: flex; align-items: center; justify-content: center;">
                  <app-pill [ticketState]="
                  currentStatus === undefined
                  ? 'Sin estado'
                  : currentStatus === 'V_lido'
                  ? 'Válido'
                  : currentStatus
                  " />
                </div>
              </div>
      </div>

      <!-- Descripción -->
      <div class="flex-col-centered-container" id="description_container">
        <h6 class="title-section">Descripción</h6>
        <textarea
          name=""
          id="description-text-area"
          readonly
          [value]="ticketData ? ticketData.description : ''"
        ></textarea>
      </div>

      <!-- Imagen -->
      <div class="flex-col-centered-container ticket-image-container">
        <img
          class="ticket-img"
          [src]="
            ticketData && ticketData.image_url
              ? ticketData.image_url
              : 'assets/images/Image_not_available.png'
          "
          alt="Ticket_image"
        />
      </div>

      <!-- Dirección -->
      <div class="flex-col-centered-container" id="address_container">
        <h6>Dirección</h6>
        <textarea name="" id="" readonly [value]="address"></textarea>
      </div>


      <!-- Administración -->
       <div *ngIf="canAdminister" class="flex-col-centered-container" id="admin_container">
        <h6 class="title-section">Administración</h6>
        <div class="administration-inputs-container">

          <div class="updatable-field-div">
            <label for="">Id:</label>
            <span>{{this.ticketData.id}}</span>
          </div>

          <div class="updatable-field-div">
            <label for="">Programado para:</label>
            <input type="date" name="programed-date" id="programed-date-input"
            [(ngModel)]="selectedScheduledDate">
          </div>


          <div class="updatable-field-div">
            <label for="">Estado:</label>
            <select
            name="state-select"
            id="state-select"
            [(ngModel)]="selectedStateToUpdate"
            >
              <option
              *ngFor="let status of statusList"
              [value]="status">
              {{ status }}
            </option>
            </select>
          </div>

          <div class="updatable-field-div">
            <label for="">Prioridad:</label>
            <select
            name="state-select"
            id="state-select"
            [(ngModel)]="selectedPriorityToUpdate"
            >
              <option
              *ngFor="let priority of priorityList"
              [value]="priority">
              {{ priority }}
            </option>
            </select>
          </div>


          <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
            <button
            class="update-btn-ticket"
            (click)="updateTicket()">Actualizar ticket</button>
          </div>
        </div>
       </div>



  </div>



  <ng-template #noDataTemplate>
    <div class="flex-col-centered-container">
      <h3>No se pudo cargar la información del ticket.</h3>
    </div>
  </ng-template>

</ng-template>
</div>
