export const environment = {
  production: true,
  keycloak: {
    url: 'http://localhost:8888',
    realm: 'urbancheck',
    clientId: 'urbancheck-front',
  },
  backendForFrontendUrl: '/api',
  mapboxApiKey:'',
};
