<div class="ticket-admin-panel-main-div">
  <div class="ticket-admin-panel-grey-bg">
    <div class="ticket-admin-panel-nav-container">
      <nav class="ticket-admin-panel-nav">
        <span class="ticket-admin-panel-nav-btn" (click)="goToMap()">
          <img
            src="/assets/images/go-back-svgrepo-com.svg"
            alt="volver atras"
          />
          <img
            src="/assets/images/map-location-pin-svgrepo-com.svg"
            alt="mapa"
          />
        </span>
        <span style="display: flex; align-items: center">
          <input
            id="search-ticket-input"
            type="text"
            placeholder="Buscar ticket por ID..."
            [(ngModel)]="searchTicktId"
          />
          <img
            id="search-ticket-btn"
            src="assets/images/lupa.svg"
            alt="Buscar"
            (click)="search()"
          />
        </span>
        <span>
          <label class="ticket-nav-filter-label" for="">Prioridad: </label>
          <select
            class="ticket-nav-filter-select"
            [(ngModel)]="selectedPriority"
          >
            <option *ngFor="let priority of PrioritiesArr" [value]="priority">
              {{ priority }}
            </option>
          </select>
          <label class="ticket-nav-filter-label" for="">Estado: </label>
          <select class="ticket-nav-filter-select" [(ngModel)]="selectedStatus">
            <option *ngFor="let status of StatusesArr" [value]="status">
              {{ status }}
            </option>
          </select>
          <label class="ticket-nav-filter-label" for="">Dependencia: </label>
          <select
            class="ticket-nav-filter-select"
            [(ngModel)]="selectedDependency"
          >
            <option
              *ngFor="let dependency of DependenciesArr"
              [value]="dependency"
            >
              {{ dependency }}
            </option>
          </select>
        </span>
        <span>
          <button class="btn btn-secondary" (click)="removeFilters()">
            Limpiar filtros
          </button>
        </span>
        <span class="ticket-admin-panel-nav-title">
          <h4>Panel de administración</h4>
        </span>
      </nav>
    </div>
    <div>
      <div class="ticket-admin-panel-dashboard-container">
        <div class="ticket-admin-panel-list-container">
          <div class="ticket-admin-panel-list-table-div">
            <div style="width: 100%" *ngIf="showSpinner; else ticketListTable">
              <app-spinner></app-spinner>
            </div>
            <ng-template #ticketListTable>
              <table class="table ticket-table">
                <thead>
                  <tr>
                    <th scope="col">Ticket ID</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Alta</th>
                    <th scope="col">Problemática</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let ticket of ticketList; let i = index"
                    clickable
                    (click)="selectTicket(ticket.id!)"
                    class="admin-panel-row"
                    [ngClass]="{
                      'ticket-table-row-selected':
                        ticket.id === selectedTicketId
                    }"
                  >
                    <td>#{{ minimized_ticket_id(ticket.id) }}...</td>
                    <td>
                      <app-pill
                        [ticketState]="
                          ticket.current_status?.description! === 'V_lido'
                            ? 'Válido'
                            : ticket.current_status?.description!
                        "
                      />
                    </td>
                    <td>
                      {{
                        ticket.author?.first_name +
                          " " +
                          ticket.author?.last_name
                      }}
                    </td>
                    <td>{{ formatDate(ticket.its!) }}</td>
                    <td>{{ ticket.issue?.description }}</td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </div>
          <div class="ticket-admin-panel-list-nav-pagination-div">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li
                  *ngIf="!(currentPageNumber === 1)"
                  class="page-item"
                  style="margin-right: 10px"
                >
                  <a
                    class="page-link"
                    (click)="changePageTo(currentPageNumber - 1)"
                  >
                    Anterior
                  </a>
                </li>

                <span
                  *ngIf="!currentPagesNavigator.includes(currentPageNumber)"
                >
                  <span style="width: 10px"></span>
                  <span class="page-item">
                    <a class="page-link" (click)="changePageTo(1)">1</a>
                  </span>
                </span>

                <span
                  *ngIf="!currentPagesNavigator.includes(currentPageNumber)"
                >
                  ...
                </span>

                <li
                  class="page-item"
                  *ngFor="let number of currentPagesNavigator"
                >
                  <a
                    class="page-link"
                    [ngClass]="{
                      'page-link-current': number === currentPageNumber
                    }"
                    (click)="changePageTo(number)"
                  >
                    {{ number }}
                  </a>
                </li>

                <span
                  *ngIf="!currentPagesNavigator.includes(currentPageNumber)"
                >
                  ...
                </span>
                <span
                  *ngIf="!currentPagesNavigator.includes(currentPageNumber)"
                >
                  <span class="page-item"
                    ><a class="page-link">{{ maxPagesCount }}</a></span
                  >
                  <span style="width: 10px"></span>
                </span>

                <li
                  *ngIf="!(currentPageNumber === maxPagesCount)"
                  class="page-item"
                  style="margin-left: 10px"
                >
                  <a
                    class="page-link"
                    (click)="changePageTo(currentPageNumber + 1)"
                  >
                    Siguiente
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="ticket-admin-panel-ticket-container">
          <app-side-panel
            mode="persistent"
            position="right"
            [background]="'#4B5C67CC'"
            width="35vw"
            [hasBackdrop]="false"
            [closeOnBackdrop]="false"
          >
            <!-- contenido del panel -->
            <app-ticket-visualizer-component
              [ticketId]="selectedTicketId"
              [userRoleId]="currentRolId"
              [user]="user"
            ></app-ticket-visualizer-component>
          </app-side-panel>
        </div>
      </div>
      <!-- <div *ngIf="showSpinner; else ticketAdminPanel">
        <app-spinner></app-spinner>
      </div>
      <ng-template #ticketAdminPanel>

      </ng-template> -->
    </div>
  </div>
</div>
