<!-- Modal -->
<div
    class="modal fade"
    [id]="modalId"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn header-btn"
                [ngStyle]="{visibility: (processStep > 0) ? 'visible' : 'hidden'}"
                (click)="prevStep()">
                &lt;
              </button>
                <img src="assets/images/megaphone.svg" alt="imagen megafono"/>
              <button type="button" class="btn header-btn" data-bs-dismiss="modal"
              (click)="CancelTicket()">
                X
              </button>
            </div>
            <div class="modal-body modal-body-scroll">

              <!-- Changes the modal content to match the step in the process -->
              <div [ngSwitch]="processStep" id="modalSwitch">

                <div id="dependencySelectionDiv" *ngSwitchCase="0">

                  <div class="form-check" *ngFor="let dependency of MunicipalDependenciesArr">
                    <label class="form-check-label" for="flexRadioDefault1">
                      {{dependency}}
                    </label>

                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                      (click)="setDependency(dependency)">
                  </div>
                </div>


                <div id="descriptionDiv" *ngSwitchCase="1">
                  <label for="descriptionInput">Descripción</label>
                  <textarea 
                      id="descriptionInput" 
                      class="description-box" 
                      [maxLength]="maxLengthDesc" 
                      [(ngModel)]="ticket.description">
                  </textarea>
                  <p class="warning-p-descripton"
                  [ngStyle]="{visibility: ticket.description.length < 20 ? 'visible' : 'hidden'}"
                  >* Al menos 20 caracteres...</p>
                  

                  <button class="img-btn" disabled><!--  desactivado, no lo vamos a hacer ahora -->
                    <img src="assets/images/upload_img.svg" alt="Upload image">
                    Subir imagen
                  </button>
                </div>

                <div id="ticketSumaryDiv" *ngSwitchCase="2">

                  <label>Problemática</label>
                  <p>{{getMunicipalDependencyLabel(ticket.dependency)}}</p>

                  <label for="descriptionInput">Descripción</label>
                  <textarea 
                      class="description-box" 
                      [maxLength]="maxLengthDesc" 
                      [(ngModel)]="ticket.description">
                  </textarea>

                  <label for="">Fecha y Hora</label>
                  <p>{{formatDateTime(ticket.dateTime)}}</p>

                </div>

                <div class="result-div" *ngSwitchCase="3">

                  <h5>{{res.exito}}</h5>
                  <h6>{{res.mensaje}}</h6>
                  <img [src]="res.src" alt="resultado imagen">

                </div>

              </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="nextStep()" [disabled]="!CanContinue()"
                [ngStyle]="{display: (processStep >= 0 && processStep < 2) ? 'block' : 'none'}">
                    Continuar
                </button>
                <button type="button" class="btn btn-primary"
                [ngStyle]="{display: (processStep === 2) ? 'block' : 'none'}"
                (click)="AddTicket()"
                >
                    Confirmar
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                (click)="CancelTicket()"
                [ngStyle]="{display: (processStep === 2) ? 'block' : 'none'}">
                    Cancelar
                </button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                [ngStyle]="{display: (processStep === 3) ? 'block' : 'none'}"
                (click)="CancelTicket()"
                >
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
