:root {
  --inp-text-dvw: 80dvw;
  --inp-text-dvh: 40vh;
  --inp-text-pad: 2px;
}

.modal-content{
  background-color: #4b5c6c;
  height: 65dvh;
}

.modal-body{
  height: 100%;

  --bg-color1: #6c7d89;
  --bg-color2: #4b5c6c;
  --bg-color3: #e7f0f8;
  --rojo-pastel: #e96d6d;
  --font-color1: whitesmoke;
  --width-divs: 90%;
  /* background-color: red; */

  & #modalSwitch {
    height: 100%;
  }
}

.modal-body-scroll {
  overflow-y: auto;
}

.modal-header,
.modal-footer {
  --bg-color1: #6c7d89;
  --bg-color2: #4b5c6c;
  --bg-color3: #e7f0f8;
  --rojo-pastel: #e96d6d;
  --font-color1: whitesmoke;
  --width-divs: 90%;
  position: sticky;
  top: 0;
  /* Para el header */
  bottom: 0;
  /* Para el footer */
  z-index: 10;
  /* Asegura que siempre estén por encima del contenido scrollable */
  /* Fondo para evitar que el scroll pase por encima */
}

.dependencySelectionDiv{

}

.form-check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid white;
  margin-bottom: 15px;
}

.form-check > label {
  font-size: 16pt;
  color: whitesmoke;
}


.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-btn{
  background-color: azure;
  color: black; /* Tiene que ser del mismo que el fondo*/
  border-radius: 100px;
}


#descriptionDiv {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;

  /* border: 1px solid white; */

  & label {

    width: 100%;
    font-size: 16pt;
    text-align: center;
    color: white;
    font-weight: bold;

  }
}

.warning-p-descripton {
  width: 100%;
  height: fit-content;
  color: rgba(224, 23, 23, 0.959);
  font-size: 10pt;
  text-align: center;
}

.photo-uploader-component-container {
  margin-top: 3px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.photo-uploader-component-container-div {
  width: var(--width-divs);
  height: 100%;

}

.flex-preview-image-container {
  margin-top: 3px;
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.img-preview {
  height: auto;
  min-width: 100%;
  max-width: 100%;
  width: auto;
  object-fit: cover;
  overflow: auto;
}

.photo-upoad-remove-btn {
  border: 0px;
  color: rgb(126, 3, 3);
  font-size: 12pt;
  font-weight: bold;
  padding: 5px 10px;
  width: fit-content;
  background-color: var(--rojo-pastel);
}


.remove-img-btn-container{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.img-btn {
  width: 50dvw;
  height: 5dvh;
  background-color: #00449433;
  border-radius: 20px;
  border: 0px;
  font-size: 14pt;
  align-items: center;
  color: white;

  & img {
    height: 4dvh;
    aspect-ratio: 1/1;
  }
}

#ticketSumaryDiv {

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  & label {

    width: 100%;
    font-size: 16pt;
    text-align: center;
    color: white;
    font-weight: bold;

  }

  & input[type="datetime"] {
    width: 100%;
  }

}


.ticket-summary-description-div {
  overflow-wrap: break-word;
  padding: 5px;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
}

.ticket-summary-img-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.ticket-summary-img {
  width: auto;
  height: 20vh;
  object-fit: cover;
  border-radius: 5px;

}

.modal-pm {
  background-color: white;
  font: black;
  font-weight: bold;
}

.description-box {
  margin-top: 10px;
  width: 90%;
  min-height: 10vh;
  padding: 5px 15px;
  border: 1px white solid;

  color: var(--font-color1);
  background-color: var(--bg-color2);
  text-align: left; /* Cambia a 'left' para texto alineado natural */

  white-space: pre-wrap; /* Ajusta el texto a la siguiente línea */
  word-wrap: break-word; /* Ajuste de palabras largas */
  overflow-wrap: break-word; /* Alternativa moderna */

  overflow-y: auto; /* Muestra un scroll solo vertical si es necesario */
  overflow-x: hidden; /* Oculta el scroll horizontal */
}

.custom-primary-btn {
  background-color: var(--bg-color2);
  border: 2px solid var(--bg-color3);
  color: var(--font-color1);
  font-weight: bold;
  padding: 5px 15px;
}

.custom-primary-btn:hover {
  background-color: var(--bg-color3);
}

.description-box-readonly {
  resize: none; /* Evita que el usuario pueda redimensionar el área de texto */
  border: none; /* Elimina el borde para un aspecto más limpio */
  outline: none; /* Elimina el contorno al hacer clic */
  cursor: default; /* Cambia el cursor para indicar que no es editable */
  min-height: fit-content; /* Ajusta el alto automáticamente al contenido */
}

.result-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  color: white;
  font-weight: bold;

  & img {
    height: 40%;
    aspect-ratio: 1/1;
  }
}

.issue-summary-div {
  width: 90%;
  padding: 5px;
  text-align: center;
  background-color: var(--bg-color2);
  color: var(--font-color1);
  font-weight: semi-bold;
  font-size: 12pt;
}


.summary-border-box {
  border: 1px solid var(--bg-color1);

}

#result-image {
  height: 40%;
  aspect-ratio: 1/1;
  border: 0px;
}
