:root {
  --inp-text-dvw: 80dvw;
  --inp-text-dvh: 40vh;
  --inp-text-pad: 2px;
}

.modal-content{
  background-color: #6e7f8bec;
  height: 65dvh;
}

.modal-body{
  height: 100%;
  /* background-color: red; */

  & #modalSwitch {
    height: 100%;
  }
}

.modal-body-scroll {
  overflow-y: auto;
}

.modal-header,
.modal-footer {
  position: sticky;
  top: 0;
  /* Para el header */
  bottom: 0;
  /* Para el footer */
  z-index: 10;
  /* Asegura que siempre estén por encima del contenido scrollable */
  /* Fondo para evitar que el scroll pase por encima */
}

/* .dependencySelectionDiv{
  overflow-y: hidden;
} */

.form-check {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  border-bottom: 1px solid white;
}

.form-check > label {
  font-size: 16pt;
  color: whitesmoke;
}


.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-btn{
  background-color: azure;
  color: black; /* Tiene que ser del mismo que el fondo*/
  border-radius: 100px;
}


#descriptionDiv {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;

  /* border: 1px solid white; */

  & label {

    width: 100%;
    font-size: 16pt;
    text-align: center;
    color: white;
    font-weight: bold;

  }
}

.warning-p-descripton {
  width: 100%;
  height: fit-content;
  color: rgba(224, 23, 23, 0.959);
  font-size: 10pt;
  text-align: center;
}

.photo-uploader-component-container {
  margin-top: 3px;
  height: 50vh;

  & img {
    width: 40vw;
    height: 40vw;
  }
}

.img-btn {
  width: 50dvw;
  height: 5dvh;
  background-color: #00449433;
  border-radius: 20px;
  border: 0px;
  font-size: 14pt;
  align-items: center;
  color: white;

  & img {
    height: 4dvh;
    aspect-ratio: 1/1;
  }
}

#ticketSumaryDiv {

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: scroll;

  & label {

    width: 100%;
    font-size: 16pt;
    text-align: center;
    color: white;
    font-weight: bold;

  }

  & input[type="datetime"] {
    width: 100%;
  }

}


.ticket-summary-description-div {
  overflow-wrap: break-word;
  padding: 5px;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
}

.ticket-summary-img-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.ticket-summary-img {
  width: auto;
  height: 20vh;
  object-fit: cover;
  border-radius: 5px;

}

.modal-pm {
  background-color: white;
  font: black;
  font-weight: bold;
}

.description-box {
  width: 90%;
  height: 10vh;
  padding: 5px 5px;
  border: 1px white solid;
  border-radius: 15px;
  text-align: left; /* Cambia a 'left' para texto alineado natural */
  
  white-space: pre-wrap; /* Ajusta el texto a la siguiente línea */
  word-wrap: break-word; /* Ajuste de palabras largas */
  overflow-wrap: break-word; /* Alternativa moderna */
  
  overflow-y: auto; /* Muestra un scroll solo vertical si es necesario */
  overflow-x: hidden; /* Oculta el scroll horizontal */
}

.result-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  color: white;
  font-weight: bold;

  & img {
    height: 40%;
    aspect-ratio: 1/1;
  }
}